.shipping-container {
    width: 100%;
    height: auto;
    background-color: #caafa8;
    color: #fdf9f5;
    /* display: grid;
    grid-template-columns: 1fr 1fr; */
    display: flex;
    /* gap: 100px; */
    padding: 100px 100px;
}

.shipping-form {
    display: flex;
    flex-direction: column;
    width: 450px;
}

.shipping-name, .payment-details {
    background-color: #fdf9f5;
    color: #caafa8;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #fdf9f5;
}

.shipping-input {
    padding: 10px;
    border-left: 1px solid #fdf9f5;
    border-right: 1px solid #fdf9f5;;
    display: flex;
    gap: 10px;

}

.zip, .cvv{
    border-bottom: 1px solid #fdf9f5;
    margin-bottom: 50px;
}

.ship-input {
    border: none;
    border-bottom: 1px solid #fdf9f5;
    outline: none;
    background-color: #d1bfba;
    color: #fdf9f5;
    padding-left: 3px;
}

.short-input {
    width: 100px;
}

.long-input {
    width: 300px;
}

.order-sum-box {
    padding-left: 50px;;
}


.order-conf-container {
    width: 100%;
    height: 500px;
    background-color: #caafa8;
    color: #fdf9f5;
    display: flex;
    flex-direction: column;
    padding: 100px 200px;
    font-size: 15px;
    gap: 20px;
    /* align-items: center; */
}

.order-conf-title {
    font-family: Italiana;
    font-size: 25px;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.new-order {
    color: #fdf9f5;
    margin-top: 60px;
    display: flex;
    justify-content: center;
}
