.openModalButton {
    height: 45px;
    font-size: 15px;
    font-weight: lighter;
    background-color: #caafa8;
    color: white;
    border: none;
    cursor: pointer;
    width: 300px;
    border: white 2px solid;

}

.openModalButton:hover {
    /* background-color: #caafa8;
    color: white; */
    color: #caafa8;
    background-color: white;
    border: 2px solid white;
}
