.all-prods-container {
    background-color: #caafa8;
    color: white;

    padding-top: 20px;


}

.product-cards {
    display: flex;
    flex-wrap: wrap;
    /* display: flex;
    flex-flow: column wrap; */
    /* height: auto; */
    /* gap: 10px; */


}

.card-container {
    /* background-color: green;
    height: 300px;
    width: 300px; */
    width: 400px;
    /* background-color: lightblue; */
    padding: 10px;
    font-size: 12px;
}

.card-img {
    height: 250px;
    width: 200px;
    border-radius: 5px;
}

.card-img-color {
    display: hidden;
}
