.all-prods-container {
    background-color: black;
    color: white;
    /* margin-top: 30px; */
    padding-top: 20px;


}

.product-cards {
    display: flex;
    flex-flow: column wrap;
    /* height: auto; */
    gap: 10px;


}

.card-container {
    /* background-color: green;
    height: 300px;
    width: 300px; */
    width: 400px;
    background-color: lightblue;
    padding: 10px;
}

.card-img {
    height: 250px;
    width: 200px;
}

.card-img-color {
    display: hidden;
}
