

.all-prods-container {
    background-color: #caafa8;
    /* color: white; */
    color: #fdf9f5;
    width: 100%;
    display: flex;
    justify-content: center;
    /* background-color: blueviolet; */
    height: auto;

    padding-top: 1%;
    padding-bottom: 2%;

    /* flex-flow: row wrap; */
}

.product-cards {
    /* background-color: pink; */
    display: flex;
    flex-flow: row wrap;
    gap: 2.45%;
    width: 90%;
    height: auto;
}

.card-container {
    /* width: 320px; */
    width: 23%;
    /* background-color: lightblue; */
    /* font-size: 12px; */
    font-size: 15px;
    font-weight: lighter;
    /* height: auto; */
    height: 40%;
    display: grid;
    margin-top: 10px;

}

.all-prod-link-prod {
    /* background-color: green; */
    height: 92%;
}

.card-img {
    /* height: 450px; */
    height: 100%;
    width: 100%;
    border-radius: 5px;
}

.card-img-color {
    display: hidden;
}

.all-prods-info {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    height: 90px;
    gap: 10px;
    /* background-color: orange; */
    margin-top: 20px;
    margin-bottom: 10px;
}

.all-prods-color-container {
    display: flex;
    flex-direction: row;
    height: auto;
    gap: 20%;
    font-size: 20px;
    justify-content: center;
    /* background-color: yellow; */
}

.fa-circle {
    cursor: pointer;
}
