.style-details-container {
    display: grid;
    gap: 40px;

}

.style-details-title {
    width: 200px;
    background-color: greenyellow;
}

.style-details-title-edit{
    width: 200px;
    background-color: aqua;
}

.delete-style-button {
    width: 200px;
}
