.footer-container {
    height: 350px;
    width: 100%;
    color: #caafa8;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 90px;
}

.thanks {
    width: 100%;
    height: 100%;
    display: flex;
  align-items: center;
  justify-content: center;
  font-size: 40px;
  padding-bottom: 20px;
}



.contact-info {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
  align-items: center;
  gap: 20px;
  }

.github-stuff {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.fa-brands.fa-github {
    font-size: 50px;
}

.link-github {
    text-decoration: none;
    color:#caafa8;
}

.link-github:hover {
    color: #a8918c;

}

.github-handle {
    font-size: 20px;
}

.links-container {
    display: flex;
    gap: 30px;
}

.linkdin {
    font-size: 50px;
}
