/* .profile-dropdown {
  position: absolute;
}

.hidden {
  display: none;
} */

.navbar {
  /* background-color: #96609F; */
  /* background-color: #6B5875; */
  /* background-color: black; */
  background-color: #caafa8;
  height: 80px;
  /* display: flex;
  justify-content: end;
  align-items: center; */
  font-size: 1.2rem;
  position: sticky;
  top: 0;
  z-index: 999;
  /* background-color: blue; */

}

.navbar-container {
  /* display: flex; */
  /* justify-content: center; */
  /* align-items: center; */
  height: 80px;
  max-width: 1500px;
  /* background-color: pink; */
  display: grid;
  grid-template-columns: auto auto;
  padding-left: 5%;
  padding-right: 5%;


}

.lemon-logo {
  /* color: #fff; */
  /* color: #eae6e1; */
  color: white;
  /* justify-self: start; */
  /* margin-left: 20px; */
  cursor: pointer;
  text-decoration: none;
  font-size: 2rem;
  display: flex;
  align-items: center;
  /* font-family: Ultra; */
  font-family: Italiana;
  /* background-color: green; */


}

.fa-lemon {
  margin-left: 0.5rem;
  font-size: 1.8rem;
  color: #FFE6A9;
}

.menu {
  /* background-color: yellow; */
  /* display: grid;
  grid-template-columns: repeat(5, auto);
  grid-gap: 10px;
  list-style: none;
  text-align: center;
  width: 60vw;
  justify-content: end;
  margin-right: 2rem; */

  display: flex;
  justify-content: flex-end;
  list-style: none;
  /* background-color: orange; */

}

.nav-item {
  height: 80px;
  /* background-color: orange; */
  /* display: flex; */
  /* justify-content:flex-end;
  width: auto; */

}

.nav-links {
  color: white;
  display: flex;
  align-items: center;
  text-decoration: none;
  padding: 0.5rem 1rem;
  height: 100%;
  font-weight: lighter;
}

.nav-links:hover {
  border-bottom: 4px solid white;
  transition: all 0.2s ease-out;
}

.fa-bars, .fa-xmark {
  color: white;
}

.nav-links-mobile {
  display: none;
}

.menu-icon {
  display: none;
}

@media screen and (max-width: 960px) {
  .NavbarItems {
    position: relative;
  }

  .menu {
    display: flex;
    flex-direction: column;
    width: 100%;
    /* height: 90vh; */
    height: 500px;     /* change here */
    position: absolute;
    top: 80px;
    left: -100%;
    opacity: 1;
    transition: all 0.5s ease;
  }

  /* mobile menu */
  .menu.active {
    /* background: #93829B; */
    background-color: #CDBBB6;
    /* background: #CDBBB6; */
    left: 0;
    opacity: 1;
    transition: all 0.5s ease;
    z-index: 1;
  }

  .nav-links {
    text-align: center;
    padding: 2rem;
    width: 100%;
    display: table;
    margin-top: -30px;
    justify-content: center;

  }

  .nav-links:hover {
    background-color: #fdf9f5;
    /* color: #6B5875; */
    color: #CDBBB6;
    border-radius: 0;
  }

  .lemon-logo {
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(25%, 50%);
  }

  .menu-icon {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(-100%, 60%);
    font-size: 1.8rem;
    cursor: pointer;

    font-weight: lighter;
  }

  .fa-times {
    color: white;
    font-size: 2rem;
  }

  .nav-links-mobile {
    display: block;
    text-align: center;
    margin: 2rem auto;
    border-radius: 4px;
    width: 80%;
    text-decoration: none;
    font-size: 1.5rem;
    background-color: transparent;
    /* color: #eae6e1; */
    color: white;
    padding: 14px 20px;
    border: 1px solid white;
    transition: all 0.3s ease-out;
  }

  .nav-links-mobile:hover {
    background: white;
    /* color: #6B5875; */
    /* color: black; */
    color: #caafa8;

    transition: 250ms;
  }
}
