
.homepage-container {
    padding-top: 20px;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    /* gap: 100px; */


}

.featured-collection-box {
    display: flex;
    height: 300px;
    background-color: #fdf9f5;
    justify-content: center;
    align-items: center;
}

.feature-collection-text {
    font-family: Italiana;
    font-size: 50px;
    /* border-top: thin white solid;
    border-bottom: thin white solid; */
    border-top: thin #caafa8 solid;
    border-bottom: thin #caafa8 solid;
    color: #caafa8;

}
