.nav-submenu {
    width: 10rem;
    position: absolute;
    list-style: none;
    text-align: start;
}

.nav-submenu li{
    cursor: pointer;
}

.nav-submenu-item {
    display: block;
    width: 100%;
    height: 100%;
    text-decoration: none;
    color: white;
    padding: 16px;

}
