video {
    object-fit: cover;
    width: 100%;
    height: 600px;
    position: fixed;
    z-index: -1;
}

.new-arrivals-container {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    box-shadow: inset 0 0 0 1000px rgba(0,0,0,0.2);
    object-fit: contain;
}


.new-arrivals-btns {
    margin-right: 20px;
}

@media screen and (max-width: 960px) {
    .new-arrivals-container {
        margin-top: -150px;
        font-size: 70px;
        align-items: center;

    }

    .btn {
        margin-right: 0px;
    }
}

@media screen and (max-width: 768px) {
    .new-arrivals-container > h1{
        font-size: 50px;
        margin-top: -100px;
    }

    .new-arrivals-container > p {
        font-size: 30px;
    }

    .btn-mobile {
        display: block;
        text-decoration: none;
    }

    .btn {
        width: 100%;
    }


}
